# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build / cache
dist/
.turbo/
*.tsbuildinfo
next-env.d.ts

# tauri (later)
target/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
